sinatra/data/jsonFile/cds_LED.json
[
    {
        "id": "d6aad3f6.24377",
        "type": "inject",
        "z": "2e512df1.34d662",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 220,
        "y": 420,
        "wires": [
            [
                "b700d4e.d009028"
            ]
        ]
    },
    {
        "id": "b700d4e.d009028",
        "type": "GPIO-Read",
        "z": "2e512df1.34d662",
        "name": "光センサ読み取り",
        "ReadType": "ADC",
        "GPIOType": "read",
        "targetPort_digital": "12",
        "targetPort_ADC": "7",
        "x": 430,
        "y": 420,
        "wires": [
            [
                "85279c76.bb022",
                "3937f2f31cb575be"
            ]
        ]
    },
    {
        "id": "85279c76.bb022",
        "type": "switch",
        "z": "2e512df1.34d662",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "1.5",
                "vt": "num"
            },
            {
                "t": "lt",
                "v": "1.5",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 620,
        "y": 420,
        "wires": [
            [
                "a30b81ba.98681"
            ],
            [
                "5abeb871.cadb78"
            ]
        ]
    },
    {
        "id": "a30b81ba.98681",
        "type": "LED",
        "z": "2e512df1.34d662",
        "name": "赤LED",
        "LEDtype": "GPIO",
        "targetPort": "15",
        "targetPort_mode": "2",
        "onBoardLED": "0",
        "x": 770,
        "y": 380,
        "wires": []
    },
    {
        "id": "5abeb871.cadb78",
        "type": "LED",
        "z": "2e512df1.34d662",
        "name": "青LED",
        "LEDtype": "GPIO",
        "targetPort": "16",
        "targetPort_mode": "2",
        "onBoardLED": "0",
        "x": 770,
        "y": 460,
        "wires": []
    },
    {
        "id": "3937f2f31cb575be",
        "type": "function-Code",
        "z": "2e512df1.34d662",
        "name": "",
        "func": "data = msg \n\n#電圧値をターミナルで表示するプログラム\nputs data",
        "x": 630,
        "y": 320,
        "wires": [
            []
        ]
    }
]