sinatra/data/jsonFile/onBLED_Blink.json
[
    {
        "id": "7ca8d4d0.eba42c",
        "type": "inject",
        "z": "2e512df1.34d662",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "0.6",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 720,
        "wires": [
            [
                "eed618f8.cd6648"
            ]
        ]
    },
    {
        "id": "f543d909.d42ae8",
        "type": "delay",
        "z": "2e512df1.34d662",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.05",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 190,
        "y": 860,
        "wires": [
            [
                "a2f58db3.9622e",
                "1d78edd4.2995f2"
            ]
        ]
    },
    {
        "id": "a2f58db3.9622e",
        "type": "delay",
        "z": "2e512df1.34d662",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.05",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 390,
        "y": 860,
        "wires": [
            [
                "c3780919.8c9fd8",
                "21de3b56.2c0aa4"
            ]
        ]
    },
    {
        "id": "eed618f8.cd6648",
        "type": "Constant",
        "z": "2e512df1.34d662",
        "name": "",
        "C": "1",
        "x": 300,
        "y": 720,
        "wires": [
            [
                "f543d909.d42ae8"
            ]
        ]
    },
    {
        "id": "c3780919.8c9fd8",
        "type": "delay",
        "z": "2e512df1.34d662",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.05",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 490,
        "y": 1040,
        "wires": [
            [
                "a8453f22.443fd",
                "f734f236.3d658"
            ]
        ]
    },
    {
        "id": "a8453f22.443fd",
        "type": "delay",
        "z": "2e512df1.34d662",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.05",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 690,
        "y": 1040,
        "wires": [
            [
                "6ac10b4c.ab6084",
                "6cc02eec.62945"
            ]
        ]
    },
    {
        "id": "1d78edd4.2995f2",
        "type": "LED",
        "z": "2e512df1.34d662",
        "name": "",
        "LEDtype": "onBoardLED",
        "targetPort": "",
        "targetPort_mode": "",
        "onBoardLED": "1",
        "x": 310,
        "y": 940,
        "wires": []
    },
    {
        "id": "21de3b56.2c0aa4",
        "type": "LED",
        "z": "2e512df1.34d662",
        "name": "",
        "LEDtype": "onBoardLED",
        "targetPort": "",
        "targetPort_mode": "",
        "onBoardLED": "2",
        "x": 570,
        "y": 780,
        "wires": []
    },
    {
        "id": "f734f236.3d658",
        "type": "LED",
        "z": "2e512df1.34d662",
        "name": "",
        "LEDtype": "onBoardLED",
        "targetPort": "",
        "targetPort_mode": "",
        "onBoardLED": "4",
        "x": 590,
        "y": 1120,
        "wires": []
    },
    {
        "id": "6ac10b4c.ab6084",
        "type": "LED",
        "z": "2e512df1.34d662",
        "name": "",
        "LEDtype": "onBoardLED",
        "targetPort": "",
        "targetPort_mode": "",
        "onBoardLED": "8",
        "x": 810,
        "y": 1120,
        "wires": []
    },
    {
        "id": "6cc02eec.62945",
        "type": "delay",
        "z": "2e512df1.34d662",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.05",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 890,
        "y": 940,
        "wires": [
            [
                "36185a3b.154a56"
            ]
        ]
    },
    {
        "id": "36185a3b.154a56",
        "type": "LED",
        "z": "2e512df1.34d662",
        "name": "",
        "LEDtype": "onBoardLED",
        "targetPort": "",
        "targetPort_mode": "",
        "onBoardLED": "0",
        "x": 1010,
        "y": 1000,
        "wires": []
    }
]